<!DOCTYPE HTML>
<html data-content-package-name="${inheritedPageProperties['phonegap-contentPackageName'] || 'en'}" data-application-name="${inheritedPageProperties['applicationName'] || 'AEMAngularApp'}">

    <head data-sly-include="head.html"></head>
    <body>
        <sly data-sly-include="body.html"></sly>
    
        <script>
            document.addEventListener("deviceready", function() {
                if (window.ADB) {
                    window.ADB.trackState("${properties['jcr:title'] @ context='scriptString'}")
                }
            }, false);
        <script>
    </body>

</html>